body{
    color: plum;
    background: black;
    font-family: "Pacifico", cursive;
    margin: 0px;
    margin-bottom: 100px;
}



.chamada{
    background: rgb(255, 255, 255);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    font-size: 35px;
    color: rgb(76, 0, 255);
    border-bottom: solid 3px wheat;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right: 5%;
}
